.features_block {
  background: linear-gradient(
    96.91deg,
    #f9f9f9 0.45%,
    #fcfcfc 0.46%,
    #fafafb 100.73%
  );
  width: 335px;
  height: 104px;
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  justify-content: center;
  & > span {
    margin-left: 26px;
    width: 200px;
  }
}
@media (max-width: 460px) {
  .features {
    margin-top: 50px;
  }
  .features_block {
    width: 200px !important;
    height: 66px !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    background-color: red;
    margin-top: 10px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .features_block span {
    margin-left: 10px;
    width: 146px;
  }
}
