.container 
    .features 
        .row
            .col-md-3.col-6.feature_item
                .features_block
                    img(src="../../../img/svg/factory.svg", alt="factory")
                    span Производственна база и склад
            .col-md-3.col-6.feature_item
                .features_block 
                    img(src="../../../img/svg/conveyor.svg", alt="conveyor")
                    span Высококачественное оборудование
            .col-md-3.col-6.feature_item
                .features_block 
                    img(src="../../../img/svg/truck.svg", alt="truck")
                    span Доставка по все России
            .col-md-3.col-6.feature_item
                .features_block 
                    img(src="../../../img/svg/clipboard.svg", alt="clipboard")
                    span Профессиональный сервис