nav(id="nav").nav
    .container.menu
        a(href="#").menu_item О компании
        a(href="#").menu_item Новости
        a(href="#").menu_item Сертификаты
        a(href="#").menu_item Справочная информация
        a(href="#").menu_item Контакты
        a(href="#").menu_item.menu_add
            img(src="../../../img/svg/file-download.svg")
            span.menu_add-item Запросить КП
        a(href="#").menu_item.menu_add
            img(src="../../../img/svg/mail-forward.svg")
            span.menu_add-item info@cir-lok.ru