<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="d-block w-100" alt="First slide">
            <div class="row">
                <div class="col-md-7">
                    <div class="banner_info">
                        <h1 class="banner_title">Регуляторы давления</h1>
                        <p class="banner_subtitle">Регуляторы давления с максимальным <br/> давлением 241 бар</p>
                        <button type="button" class="banner_btn">В каталог</button>
                    </div>
                </div>
                <div class="col-md-5 banner_img">
                    <img src="../../../img/svg/hz.svg">
                </div>
                <img src="../../../img/svg/web.svg" class="banner_cobweb">
                <img src="../../../img/svg/circle.svg" class="banner_circle">
                <img src="../../../img/svg/Ellipse 52.svg" class="banner_halfcircle">
                <img src="../../../img/svg/Ellipse 53.svg" class="banner_lowcircle">
                <img src="../../../img/svg/dots.svg" class="banner_dots">
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="d-block w-100" alt="Second slide">
            <div class="row">
                <div class="col-md-7">
                    <div class="banner_info">
                        <h1 class="banner_title">Регуляторы давления</h1>
                        <p class="banner_subtitle">Регуляторы давления с максимальным <br/> давлением 241 бар</p>
                        <button type="button" class="banner_btn">В каталог</button>
                    </div>
                </div>
                <div class="col-md-5 banner_img">
                    <img src="../../../img/svg/hz.svg">
                </div>
                <img src="../../../img/svg/web.svg" class="banner_cobweb">
                <img src="../../../img/svg/circle.svg" class="banner_circle">
                <img src="../../../img/svg/Ellipse 52.svg" class="banner_halfcircle">
                <img src="../../../img/svg/Ellipse 53.svg" class="banner_lowcircle">
                <img src="../../../img/svg/dots.svg" class="banner_dots">
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="d-block w-100" alt="Third slide">
            <div class="row">
                <div class="col-md-7">
                    <div class="banner_info">
                        <h1 class="banner_title">Регуляторы давления</h1>
                        <p class="banner_subtitle">Регуляторы давления с максимальным <br/> давлением 241 бар</p>
                        <button type="button" class="banner_btn">В каталог</button>
                    </div>
                </div>
                <div class="col-md-5 banner_img">
                    <img src="../../../img/svg/hz.svg">
                </div>
                <img src="../../../img/svg/web.svg" class="banner_cobweb">
                <img src="../../../img/svg/circle.svg" class="banner_circle">
                <img src="../../../img/svg/Ellipse 52.svg" class="banner_halfcircle">
                <img src="../../../img/svg/Ellipse 53.svg" class="banner_lowcircle">
                <img src="../../../img/svg/dots.svg" class="banner_dots">
            </div>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true">
        <img src="../../../img/svg/arrow-right.svg">
    </span>
    <span class="sr-only">Next</span>
  </a>
</div>