section
    .container
        h2.popular_title Популярные категории 
        .row.gx-5
            .col-md-6.popular_card.col-sm-12
                .info
                    p.info_text 	Материалы для сварки CIR-LOK включают нержавеющую сталь 316 316L <br> Качественная обработка всех портов обеспечивает согласованную сварку <br> Качественная обработка всех портов обеспечивает согласованную сварку
                    button(href="" id='close').close X
                h3.popular_card-title Фитинги под приварку для чистых сред
                img.popular_cart-img(src="../../../img/svg/cartItem.svg", alt="cartItem")
                .popular_card-func
                    button(id="info").popular_card-btn
                        img(src="../../../img/svg/dots-vertical.svg", alt="dots")
                    img(src="../../../img/svg/arrow-right.svg", alt="arrow")
                img.popular_web(src="../../../img/svg/webItem.svg", alt="webItem" style="pointer-events: none; cursor: default;")
            .col-md-3.popular_card
                .info
                    p.info_text 	Материалы для сварки CIR-LOK включают нержавеющую сталь 316 316L <br> Качественная обработка всех портов обеспечивает согласованную сварку <br> Качественная обработка всех портов обеспечивает согласованную сварку
                    button(href="" id='close').close X
                .popular_card-info.col-sm-6
                    button(id="info").popular_card-btn 11
                    img.popular_cart-img.singleImg(src="../../../img/svg/item.svg", alt="item")
                    h3.popular_card-title.singleItem Резьбовые фитинги
                .popular_card-func
                    img(src="../../../img/svg/dots-vertical.svg", alt="dots")
                    img(src="../../../img/svg/arrow-right.svg", alt="arrow")
            .col-md-3.popular_card
                .popular_card-info.col-sm-6
                    img.popular_cart-img.singleImg(src="../../../img/svg/item.svg", alt="item")
                    h3.popular_card-title.singleItem Резьбовые фитинги
                .popular_card-func
                    img(src="../../../img/svg/dots-vertical.svg", alt="dots")
                    img(src="../../../img/svg/arrow-right.svg", alt="arrow")
            .col-md-3.popular_card
                .popular_card-info.col-sm-6
                    img.popular_cart-img.singleImg(src="../../../img/svg/item.svg", alt="item")
                    h3.popular_card-title.singleItem Резьбовые фитинги
                .popular_card-func
                    img(src="../../../img/svg/dots-vertical.svg", alt="dots")
                    img(src="../../../img/svg/arrow-right.svg", alt="arrow")
            .col-md-3.popular_card
                .popular_card-info.col-sm-6
                    img.popular_cart-img.singleImg(src="../../../img/svg/item.svg", alt="item")
                    h3.popular_card-title.singleItem Резьбовые фитинги
                .popular_card-func
                    img(src="../../../img/svg/dots-vertical.svg", alt="dots")
                    img(src="../../../img/svg/arrow-right.svg", alt="arrow")
            .col-md-6.popular_card.col-sm-12
                .info
                    p.info_text 	Материалы для сварки CIR-LOK включают нержавеющую сталь 316 316L <br> Качественная обработка всех портов обеспечивает согласованную сварку <br> Качественная обработка всех портов обеспечивает согласованную сварку
                    button(href="" id='close').close X
                h3.popular_card-title Фитинги под приварку для чистых сред
                img.popular_cart-img(src="../../../img/svg/cartItem.svg", alt="cartItem")
                .popular_card-func
                    button(id="info").popular_card-btn
                        img(src="../../../img/svg/dots-vertical.svg", alt="dots")
                    img(src="../../../img/svg/arrow-right.svg", alt="arrow")
                img.popular_web(src="../../../img/svg/webItem.svg", alt="webItem" style="pointer-events: none; cursor: default;")